[submodule "HelloWorldSwing"]
	path = HelloWorldSwing
	url = https://github.com/UniversalRobots/HelloWorldSwing.git
[submodule "MyDaemonSwing"]
	path = MyDaemonSwing
	url = https://github.com/UniversalRobots/MyDaemonSwing.git
[submodule "EllipseSwing"]
	path = EllipseSwing
	url = https://github.com/UniversalRobots/EllipseSwing.git
[submodule "CreateFeatureSwing"]
	path = CreateFeatureSwing
	url = https://github.com/UniversalRobots/CreateFeatureSwing.git
[submodule "CycleCounterSwing"]
	path = CycleCounterSwing
	url = https://github.com/UniversalRobots/CycleCounterSwing.git
[submodule "GripAndReleaseSwing"]
	path = GripAndReleaseSwing
	url = https://github.com/UniversalRobots/GripAndReleaseSwing.git
[submodule "IdleTimeSwing"]
	path = IdleTimeSwing
	url = https://github.com/UniversalRobots/IdleTimeSwing.git
[submodule "LocalizationSwing"]
	path = LocalizationSwing
	url = https://github.com/UniversalRobots/LocalizationSwing.git
[submodule "MoveUntilDetectionSwing"]
	path = MoveUntilDetectionSwing
	url = https://github.com/UniversalRobots/MoveUntilDetectionSwing.git
[submodule "MyToolbar"]
	path = MyToolbar
	url = https://github.com/UniversalRobots/MyToolbar.git
[submodule "NodeOrderingSwing"]
	path = NodeOrderingSwing
	url = https://github.com/UniversalRobots/NodeOrderingSwing.git
