[submodule "HelloWorldSwing"]
	path = HelloWorldSwing
	url = https://github.com/UniversalRobots/HelloWorldSwing.git
[submodule "MyDaemonSwing"]
	path = MyDaemonSwing
	url = https://github.com/UniversalRobots/MyDaemonSwing.git
[submodule "EllipseSwing"]
	path = EllipseSwing
	url = https://github.com/UniversalRobots/EllipseSwing.git
[submodule "CreateFeatureSwing"]
	path = CreateFeatureSwing
	url = https://github.com/UniversalRobots/CreateFeatureSwing.git
[submodule "CycleCounterSwing"]
	path = CycleCounterSwing
	url = https://github.com/UniversalRobots/CycleCounterSwing.git
[submodule "GripAndReleaseSwing"]
	path = GripAndReleaseSwing
	url = https://github.com/UniversalRobots/GripAndReleaseSwing.git
[submodule "IdleTimeSwing"]
	path = IdleTimeSwing
	url = https://github.com/UniversalRobots/IdleTimeSwing.git
[submodule "LocalizationSwing"]
	path = LocalizationSwing
	url = https://github.com/UniversalRobots/LocalizationSwing.git
[submodule "MoveUntilDetectionSwing"]
	path = MoveUntilDetectionSwing
	url = https://github.com/UniversalRobots/MoveUntilDetectionSwing.git
[submodule "MyToolbar"]
	path = MyToolbar
	url = https://github.com/UniversalRobots/MyToolbar.git
[submodule "NodeOrderingSwing"]
	path = NodeOrderingSwing
	url = https://github.com/UniversalRobots/NodeOrderingSwing.git
[submodule "PickOrPlaceSwing"]
	path = PickOrPlaceSwing
	url = https://github.com/UniversalRobots/PickOrPlaceSwing.git
[submodule "ScriptFunctionSwing"]
	path = ScriptFunctionSwing
	url = https://github.com/UniversalRobots/ScriptFunctionSwing.git
[submodule "ToolChangerSwing"]
	path = ToolChangerSwing
	url = https://github.com/UniversalRobots/ToolChangerSwing.git
[submodule "ToolIOControlSwing"]
	path = ToolIOControlSwing
	url = https://github.com/UniversalRobots/ToolIOControlSwing.git
[submodule "UserInput"]
	path = UserInput
	url = https://github.com/UniversalRobots/UserInput.git
[submodule "CoordinateMapHTML"]
	path = CoordinateMapHTML
	url = https://github.com/UniversalRobots/CoordinateMapHTML.git
[submodule "CycleCounterHTML"]
	path = CycleCounterHTML
	url = https://github.com/UniversalRobots/CycleCounterHTML.git
[submodule "EllipseHTML"]
	path = EllipseHTML
	url = https://github.com/UniversalRobots/EllipseHTML.git
[submodule "HelloWorldHTML"]
	path = HelloWorldHTML
	url = https://github.com/UniversalRobots/HelloWorldHTML.git
[submodule "IdleTimeHTML"]
	path = IdleTimeHTML
	url = https://github.com/UniversalRobots/IdleTimeHTML.git
[submodule "LocalizationHTML"]
	path = LocalizationHTML
	url = https://github.com/UniversalRobots/LocalizationHTML.git
[submodule "MyDaemonHTML"]
	path = MyDaemonHTML
	url = https://github.com/UniversalRobots/MyDaemonHTML.git
[submodule "NodeOrderingHTML"]
	path = NodeOrderingHTML
	url = https://github.com/UniversalRobots/NodeOrderingHTML.git
[submodule "PickOrPlaceHTML"]
	path = PickOrPlaceHTML
	url = https://github.com/UniversalRobots/PickOrPlaceHTML.git
[submodule "ScriptFunctionHTML"]
	path = ScriptFunctionHTML
	url = https://github.com/UniversalRobots/ScriptFunctionHTML.git
[submodule "CustomGripperSetup"]
	path = CustomGripperSetup
	url = https://github.com/UniversalRobots/CustomGripperSetup.git
